<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Appointment Scheduler</title>
<meta http-equiv="refresh" content="1000">
<script th:inline="javascript">
    var globalVariable = "";
    
    function myFunction(){
        var i;
        var w;
        var m;
        var x;
        var days = [];
        var times = [];
        var times2 = [];
        var times3 = [];
        var times4 = [];
        var x = 0;
        /*[# th:each="item : ${timeList}"]*/
        days.push("[(${item.day_of_week})]");
        /*[/]*/
        /*[# th:each="item : ${timeList}" th:if="${item.day_of_week == 'Monday'}"]*/
        times.push("[(${item.time})]");
        times.push("[(${item.time2})]");
        times.push("[(${item.time3})]");
        times.push("[(${item.time4})]");
        times.push("[(${item.time5})]");
        times.push("[(${item.time6})]");
        times.push("[(${item.time7})]");
        times.push("[(${item.time8})]");
        times.push("[(${item.time9})]");
        times.push("[(${item.time10})]");
        x++;
        /*[/]*/
        /*[# th:each="item : ${timeList}" th:if="${item.day_of_week == 'Thursday'}"]*/
        times2.push("[(${item.time})]");
        times2.push("[(${item.time2})]");
        times2.push("[(${item.time3})]");
        times2.push("[(${item.time4})]");
        times2.push("[(${item.time5})]");
        times2.push("[(${item.time6})]"); 
        times2.push("[(${item.time7})]");
        times2.push("[(${item.time8})]");
        times2.push("[(${item.time9})]");
        times2.push("[(${item.time10})]");
        x++;
        /*[/]*/
        /*[# th:each="item : ${timeList}" th:if="${item.day_of_week == 'Tuesday'}"]*/
        times3.push("[(${item.time})]");
        times3.push("[(${item.time2})]");
        times3.push("[(${item.time3})]");
        times3.push("[(${item.time4})]");
        times3.push("[(${item.time5})]");
        times3.push("[(${item.time6})]"); 
        times3.push("[(${item.time7})]");
        times3.push("[(${item.time8})]");
        times3.push("[(${item.time9})]");
        times3.push("[(${item.time10})]");
        x++;
        /*[/]*/
        /*[# th:each="item : ${timeList}" th:if="${item.day_of_week == 'Wednesday'}"]*/
        times4.push("[(${item.time})]");
        times4.push("[(${item.time2})]");
        times4.push("[(${item.time3})]");
        times4.push("[(${item.time4})]");
        times4.push("[(${item.time5})]");
        times4.push("[(${item.time6})]"); 
        times4.push("[(${item.time7})]");
        times4.push("[(${item.time8})]");
        times4.push("[(${item.time9})]");
        times4.push("[(${item.time10})]");
        x++;
        /*[/]*/
        const dayName =['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        const month = ["December","January","February","March","May","June","July","August","September","October","November"];
        const dayofWeek = new Date().getDay();
        const dateMonth = new Date().getMonth();
        if (dayofWeek == 6 || dayofWeek == 0) { 
            document.getElementById("weekday").innerHTML = dayName[1];
            document.getElementById("weekday2").innerHTML = dayName[2]; 
            document.getElementById("weekday3").innerHTML = dayName[3];

            document.getElementById("weekday4").innerHTML = dayName[1];
            document.getElementById("weekday5").innerHTML = dayName[2];
            document.getElementById("weekday6").innerHTML = dayName[3];
            document.getElementById("dayoftheWeek").innerHTML = month[dateMonth] + " - " +(new Date().getDate() + 2);
            document.getElementById("dayoftheWeek2").innerHTML = month[dateMonth] + " - " +(new Date().getDate() + 3);
            document.getElementById("dayoftheWeek3").innerHTML = month[dateMonth] + " - " +(new Date().getDate() + 4);
        
        }
        else if ((dayofWeek + 1) == 5) {
            document.getElementById("weekday3").innerHTML = dayName[1];
            document.getElementById("weekday6").innerHTML = dayName[1];
            document.getElementById("dayoftheWeek3").innerHTML = month[dateMonth] + " - " +(new Date().getDate() + 3);
            //dayofWeek.setDate(dayofWeek.getDate() + 3);
        }
        else {
            document.getElementById("weekday").innerHTML = dayName[dayofWeek];
            document.getElementById("weekday2").innerHTML = dayName[dayofWeek + 1];
            document.getElementById("weekday3").innerHTML = dayName[dayofWeek + 2];

            document.getElementById("weekday4").innerHTML = dayName[dayofWeek];
            document.getElementById("weekday5").innerHTML = dayName[dayofWeek + 1];
            document.getElementById("weekday6").innerHTML = dayName[dayofWeek + 2];
            document.getElementById("dayoftheWeek").innerHTML = month[dateMonth] + " - " +(new Date().getDate());
            document.getElementById("dayoftheWeek2").innerHTML = month[dateMonth] + " - " +(new Date().getDate() + 1);
            document.getElementById("dayoftheWeek3").innerHTML = month[dateMonth] + " - " +(new Date().getDate() + 2);

        }
        var weekVal = document.getElementById("weekday").innerHTML;
        var weekVal2 = document.getElementById("weekday4").innerHTML;

        var weekVal3 = document.getElementById("weekday2").innerHTML;
        var weekVal4 = document.getElementById("weekday5").innerHTML;

        var weekVal5 = document.getElementById("weekday3").innerHTML;
        var weekVal6 = document.getElementById("weekday6").innerHTML;

        if ((days[1] == weekVal5 && weekVal5 == weekVal6) ||
            (days[1] == weekVal3 && weekVal3 == weekVal4) ||
            (days[1] == weekVal && weekVal == weekVal2)) {
                if (days[1] == weekVal && weekVal == weekVal2) {
                    var mondayDV = document.getElementById("weekday4");
            }
            if (days[1] == weekVal3 && weekVal3 == weekVal4) {
                var mondayDV = document.getElementById("weekday5");
            }
            if (days[1] == weekVal5 && weekVal5 == weekVal6) {
                var mondayDV = document.getElementById("weekday6");
            }
            // creating button element 
            for (m = 0; m < times.length; m++) {
                if (times[m] != "") {
                    globalVariable = m;
                    var Mondaybtn = document.createElement('A');
                    // creating text to be
                    //displayed on button
                    var Md = document.createTextNode(times[m]);
                    Mondaybtn.href = "/signup/monday";
                    Mondaybtn.className = "btn btn-outline-primary";
                    Mondaybtn.id = "btnid"+m;
                    Mondaybtn.value = times[m] + "-" + days[1];
                    Mondaybtn.onclick = test
                    // appending text to button
                    Mondaybtn.appendChild(Md);
                    
                    // appending button to div 
                    mondayDV.appendChild(Mondaybtn);
                }
            }
        }


        if ((days[3] == weekVal3 && weekVal3 == weekVal4) || 
            (days[3] == weekVal && weekVal == weekVal2) ) {
            var dv = document.getElementById("weekday5");
            // creating button element
            for (w = 0; w < times3.length; w++) {
                if (times3[w] != "") {
                    globalVariable = w; 
                    var btn = document.createElement('A');
                    // creating text to be
                    //displayed on button
                    var d = document.createTextNode(times3[w]);
                    btn.href = "/signup/tuesday";
                    btn.className = "btn btn-outline-primary";
                    btn.id = "btnidm"+w;
                    btn.value = times3[w] + "-" + days[3];
                    btn.onclick = test
                    // appending text to button
                    btn.appendChild(d);
                    
                    // appending button to div  
                    dv.appendChild(btn);
                }
            }
        }

        if ((days[4] == weekVal5 && weekVal5 == weekVal6) ||
            (days[4] == weekVal3 && weekVal3 == weekVal4) ||
            (days[4] == weekVal && weekVal == weekVal2)) {
            if (days[4] == weekVal && weekVal == weekVal2) {
                var wednesdayDV = document.getElementById("weekday4");
            }
            if (days[4] == weekVal3 && weekVal3 == weekVal4) {
                var wednesdayDV = document.getElementById("weekday5");
            }
            if (days[4] == weekVal5 && weekVal5 == weekVal6) {
                var wednesdayDV = document.getElementById("weekday6");
            }
            // creating button element
            for (x = 0; x < times4.length; x++) {
                if (times4[x] != "") {
                    globalVariable = x;
                    var wednesdaybtn = document.createElement('A');
                    // creating text to be
                    //displayed on button
                    var Wd = document.createTextNode(times4[x]);
                    wednesdaybtn.href = "/signup/wednesday";
                    wednesdaybtn.className = "btn btn-outline-primary";
                    wednesdaybtn.id = "btnidW"+x;
                    wednesdaybtn.value = times4[x] + "-" + days[4];
                    wednesdaybtn.onclick = test
                    // appending text to button
                    wednesdaybtn.appendChild(Wd);
                    
                    // appending button to div 
                    wednesdayDV.appendChild(wednesdaybtn);
                }
            }
        } 
        alert(days[2]);
        if ((days[2] == weekVal5 && weekVal5 == weekVal6) ||
            (days[2] == weekVal3 && weekVal3 == weekVal4) ||
            (days[2] == weekVal && weekVal == weekVal2)) {
            if (days[2] == weekVal && weekVal == weekVal2) {
                var thursdayDV = document.getElementById("weekday4");
            }
            if (days[2] == weekVal3 && weekVal3 == weekVal4) {
                var thursdayDV = document.getElementById("weekday5");
            }
            if (days[2] == weekVal5 && weekVal5 == weekVal6) {
                var thursdayDV = document.getElementById("weekday6");
            }
            // creating button element
            for (i = 0; i < times2.length; i++) {
                if (times2[i] != "") {
                    globalVariable = i;
                    var thursdaybtn = document.createElement('A');
                    // creating text to be
                    //displayed on button
                    var Td = document.createTextNode(times2[i]);
                    thursdaybtn.href = "/signup/thursday";
                    thursdaybtn.className = "btn btn-outline-primary";
                    thursdaybtn.id = "btnidW"+i;
                    thursdaybtn.value = times2[i] + "-" + days[2];
                    thursdaybtn.onclick = test
                    // appending text to button
                    thursdaybtn.appendChild(Td);
                    
                    // appending button to div 
                    thursdayDV.appendChild(thursdaybtn);
                }
            }
        } 
    }

    function getVal() {
         
    }

    function test() {
        var testVal = "";
        document.addEventListener('click', function(e) {
        testVal = e.target.id;  
        var testid = document.getElementById(testVal);
        const myObject = { hello: testid.value};  
        const myObjectString = JSON.stringify(myObject);
        localStorage.setItem('objectGreeting', myObjectString);
        }, false);
    }
</script> 
</head>
<body onload="myFunction()">
    <div class="container">
        </br></br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h3>Schedule Appointment</h3>
            </div>
            <div class="col-4"></div>
        </div> <!--1st row class-->
        </br></br>
        <div class="row" >
            <div class="col-2"></div>
            <div class="col-2" id="weekday"></div>
            <div class="col-2" id="weekday2"></div>
            <div class="col-2" id="weekday3"></div> 
        </div> <!--2nd row class-->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2" id="dayoftheWeek"></div>
            <div class="col-2" id="dayoftheWeek2"></div>
            <div class="col-2" id="dayoftheWeek3"></div>
        </div>
        </br></br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-1" >
                <div class="row" id = "weekday4">

                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1" >
                <div class="row" id = "weekday5">

                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1" >
                <div class="row" id = "weekday6">

                </div>
            </div>
        </div>
    </div> <!--container div class-->
</body>
</html>